:root {
	/* Matrix */
	--matrix-box-shadow: #990000;
	--matrix-pixel-box-shadow: #ffffff;
	--matrix-pixel-background-color: #999999;
	--matrix-pixel-box-shadow-hover: #ff0000;
	--matrix-pixel-background-color-hover: #ffa500;

	/* Decore */
	--decore-box-shadow: #cccccc;
	--decore-inner-box-shadow: #bbbbbb;
	--decore-outer-pixel-box-shadow: #ffffff;
	--decore-outer-pixel-background-color: #aaaaaa;
	--decore-inner-pixel-box-shadow: #ffffff;
	--decore-inner-pixel-background-color: #a7a7a7;

	/* Container */
	--container-gradient-start: transparent;
	--container-gradient-finish: #ffffff;
	--container-decore-arrow-line: #000000;
	--container-decore-arrow-legend: #000000;
}

html, body {
	position: relative;
/*	width: 100%; 
	height: 100%; */
}

body {
	color: #333;
	margin: 0;
	
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div {
	padding: 0;        
	margin: 0;
}

a {
	color: #0064c8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #0050a0;
}

input, button, select, textarea {
	background-color: #dddddd; /* colors are subject to change */
	border: 1px solid #ff0000;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	border-radius: 7px;
	outline: none;
	padding: 0;
	margin: 0;
}

input:hover, button:hover, select:hover, textarea:hover {
	outline: 1px solid #0064c8;
	outline-offset: -1px;
}

input:focus, button:focus, select:focus, textarea:focus {
	outline: 1px solid #0064c8;
	outline-offset: -1px;
}

sub {
	font-size: 0.6em;
}

/*
label {
	display: block;
}



input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
*/