html, body {
	position: relative;
}

body {
	margin: 0;
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div {
	padding: 0;        
	margin: 0;
}

input, button, select, textarea {
	background-color: var(--k-tools-background);
	border: 1px solid var(--k-tools-border);
	color: var(--k-tools-foreground);
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	border-radius: 7px;
	outline: none;
	padding: 0;
	margin: 0;
}

input:hover, button:hover, select:hover, textarea:hover {
	outline: 1px solid var(--k-tools-outline);
	outline-offset: -1px;
}

input:focus, button:focus, select:focus, textarea:focus {
	outline: 1px solid var(--k-tools-outline);
	outline-offset: -1px;
}

sub {
	font-size: 0.6em;
}

a {
	color: #0064c8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #0050a0;
}

/*
label {
	display: block;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
*/